<!DOCTYPE html>
<html>
<head>
  <title><%= offences_message %> from <%= file_count %> | RuboCop</title>
  <style type="text/css" media="screen">
  
    body {
      font: normal 10pt Verdana, sans-serif;
      margin: 0;
      body: 0;
    }
    
    h1, h2, h3, h4, th {
      font-weight: 600;
      font-size: 1em;
      padding: 0;
      margin: 0;
    }
    
    ol, ol li {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    
    a {
      display: inline-block;
      padding: 0.25em;
    }
    
    .wrapper {
      padding: 0.5em 1.5em;
    }
        
    /*    
      Offences, posible values...
      * refactor 
      * convention 
      * warning 
      * error
      * fatal
    */
    
    .refactor {
      background-color: #FB4F5F;
    }
    
    .convention {
      background-color: #DDDDDC;
    }
    
    .warning {
      background-color: #FFFA65;
    }
    
    .error {
      background-color: #FF6700;
    }
    
    .fatal {
      color: #fff;
      background-color: #CC0920;
    }
    
    .good {
      background-color: #73B532;
    }
    
    .file_report {
      margin-bottom: 1em;
    }
    
    .filename::before {
      content: '📄';
    }
    
    .auto-corrected {
      float: right;
    }
    
    .cop_name, footer, footer a {
      color: rgba(0,0,0,0.5);s
    }
    
    #metadata, #help {
      font-size: 0.75em;
      margin-bottom: 1em;
      display: inline-block;
    }
    
    #metadata th, #metadata td {
      text-align: left;
      padding-right: 0.75em;
      font-weight: 400;
    }
    
    #help {
      float: right;
    }
    
  </style>
</head>
<body>
  
  <% @files.each do |f| %>
    <div class="file_report">
      <h4 class="wrapper filename">
        <a href="<%= url_to(f) %>"><%= filename(f) %></a>
      </h4>
      <%= partial "_#{'no_' if f.offences.empty? }offences.erb", {:f => f} %>
    </div>
  <% end %>

  <footer class="wrapper">
    <table id="metadata">
      <% metadata.each_pair do |key, value| %>
        <tr><th><%= key %></th><td><%= value %></td></tr>
      <% end %>
    </table>
    <div id="help">
      <a href="https://github.com/bbatsov/rubocop#configuration">Configuring RuboCop</a>
    </div>
  </footer>
</body>
</html>